* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

.container h1 {
    margin-bottom: 20px;
}

input, button {
    padding: 5px 20px;
    margin-right: 10px;
}

#timeLeft {
    font-size: large;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(97, 184, 27);
}